{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock title %}

{% block content %}
<!-- Material form register -->
<div class="card offset-md-3 col-md-6 mt-5">

  <h5 class="card-header primary-color white-text text-center py-4 ">
      <strong>Registration</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" action="" method="POST">

          <div class="form">
              <div class="col">
                <div class="md-form">
                  <input type="text" id="materialRegisterFormFirstName" class="form-control" name="username" placeholder="username" required>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="md-form">
                <input type="password" id="materialRegisterFormFirstName" class="form-control" name="password" placeholder="password" required>
              </div>
            </div>

            <div class="col">
              <div class="md-form">
                <input type="password" id="materialRegisterFormFirstName" class="form-control" name="confirm" placeholder="confirm password" required>
              </div>
            </div>

          <!-- Sign up button -->
          <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Submit</button>

          
          

      </form>
      <!-- Form -->

  </div>

</div>
<!-- Material form register -->
{% endblock content %}